# Required
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=https://cloud.langfuse.com
NEBULY_API_KEY=

# Optional
START_DATE=2026-01-01
END_DATE=2026-12-31
NEBULY_ENDPOINT=https://backend.nebuly.com/event-ingestion/api/v3/events/trace_interaction
ANONYMIZE=false
