# Required
NEBULY_API_KEY=
COMPLIANCE_API_KEY=any-value
COMPLIANCE_BASE_URL=http://localhost:8088
ORGANIZATION_UUID=org_demo

# Optional
NEBULY_ENDPOINT=https://backend.nebuly.com/event-ingestion/api/v3/events/trace_interaction
COMPLIANCE_MAX_REQUESTS_PER_MINUTE=600
ANONYMIZE=false
