# Required
NEBULY_API_KEY=
GCP_PROJECT_ID=
GCP_LOCATION=
GCP_COLLECTION=default_collection
GCP_ENGINE_ID=

# Optional
GOOGLE_APPLICATION_CREDENTIALS=
NEBULY_ENDPOINT=https://backend.nebuly.com/event-ingestion/api/v3/events/trace_interaction
GCP_MAX_REQUESTS_PER_MINUTE=600
GCP_SETTLE_LAG_SECONDS=60
ANONYMIZE=false
