# Required
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
NEBULY_API_KEY=

# Optional
NEBULY_ENDPOINT=https://backend.nebuly.com/event-ingestion/api/v3/events/trace_interaction
COPILOT_SKU=639dec6b-bb19-468b-871c-c5c441c4b0cb
GRAPH_MAX_REQUESTS_PER_MINUTE=600
INGESTION_LAG_MINUTES=15
ANONYMIZE=false
